<!-- made by @designhorf | http://designhorf.com | https://instagram.com/designhorf
    Front-end developer, UI designer
-->

<!DOCTYPE html>
<html lang="hu">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="Cache-control" content="public">
  <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
  <meta http-equiv="Content-Language" content="hu-hu" />
  <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE11">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <link rel="icon" href="images/favicon.ico" type="image/x-icon">
	<title>PRV Team</title>
  <link rel="stylesheet" href="stylesheets/critical.css" type="text/css"/>
  <!--<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,700" rel="stylesheet">-->
  <link href="https://fonts.googleapis.com/css?family=Lato:300,700" rel="stylesheet">
</head>
<body>
	<div class="wrap">

		<div class="header" id="header">
      <div class="header-wrap max-content-width">
        <a href="#home">
          <div class="logo">
            <img src="images/prv-logo.svg" alt="prv logo">
            <p class="xtra-small-text">communication</p>
          </div>
        </a>
        <div class="menu">
          <ul class="menu-items">
            <a class="menu-element" href="#offer">
              <li class="list-element first-menu-element">
                <p>ajánlatunk</p>
              </li>
            </a>

            <a class="menu-element conception-menu-item" href="#conception">
              <li class="list-element">
                <p>koncepciónk</p>
              </li>
            </a>

            <a class="menu-element chart-menu-item" href="#flow-chart">
              <li class="list-element">
                <p>folyamatábra</p>
              </li>
            </a>

            <a class="menu-element" data-name="onlinePrez">
              <li class="list-element" onclick="showCode(this);">
                <p>online prezentáció</p>
              </li>

              <span class="list-element code-input off" id="codeField">
                <form action="" id="codeForm" target="_blank">
                  <label for="code">Kód: </label>
                  <input class="code-text" type="text" id="code">
                  <button class="code-button" type="submit" id="codeSubmit" onclick="modifyActionURL();">Go</button>
                </form>
              </span>
            </a>

            <a class="menu-element green-text" href="https://medium.com/prv-team" target="_blank">
              <li class="list-element">
                <p>rólunk</p>
              </li>
            </a>

            <a class="menu-element" href="#contact">
              <li class="list-element">
                <p>kapcsolat</p>
              </li>
            </a>
          </ul>
        </div>
        
        <div class="hamburger-menu" id="menuKebab">
            <div class="x-1 sanyi"></div>
            <div class="x-m"></div>
            <div class="x-2"></div>
        </div>
      </div>
		</div>

    <div class="mobile-menu">
      <ul class="menu-items">
        <a class="menu-element mobile-element" href="#offer">
          <li class="list-element">
            <p>ajánlatunk</p>
          </li>
        </a>

        <a class="menu-element mobile-element conception-menu-item" href="#conception">
          <li class="list-element">
            <p>koncepciónk</p>
          </li>
        </a>

        <a class="menu-element mobile-element chart-menu-item" href="#flow-chart">
          <li class="list-element">
            <p>folyamatábra</p>
          </li>
        </a>

        <a class="menu-element mobile-element" href="http://www.kiadvanyom.hu/PRV" target="_blank">
          <li class="list-element">
            <p>online prezentáció</p>
          </li>
        </a>

        <a class="menu-element mobile-element green-text" href="https://medium.com/prv-team" target="_blank">
          <li class="list-element">
            <p>rólunk</p>
          </li>
        </a>

        <a class="menu-element mobile-element" href="#contact">
          <li class="list-element">
            <p>kapcsolat</p>
          </li>
        </a>
      </ul>
    </div>

    <!-- HOME  -->
    <section class="main no-top" id="home">
      <div class="main-text bottom-space">
        <h1 class="title-text-style">Együtt az Ön sikeréért!</h1>
        <h2 class="title-text-style"><span class="lightblue-text">INTEGRáLT Kommunikációs csomag</span> költségmentesen</h2>
      </div>

      <div class="main-devices">
        <img class="twentyfive" src="images/25years2.png" alt="">
        <img class="main-devices-img" src="images/devices-2017.png" alt="devices">
      </div>

      <div class="main-scroll">
        <a href="#offer">
          <img class="main-scroll-icon" src="images/scroll-down.svg" alt="scroll down icon">
        </a>
      </div>
    </section>

    <!-- OFFER  -->
    <section class="ajanlatunk no-top" id="offer">
      <div class="offer">
        <div class="offer-content offer-conten max-content-width">
          <h1 class="title-text-style">Mit ajánl Önnek a PRV Team?</h1>
          <h3 class="offer-text">Célcsoport-orientált kommunikációs csomagot, melyet egy 25 éves gyakorlattal rendelkező, regionálisan meghatározó kiadó új divízióján belül állítunk elő – költségmentesen.</h3>
          <h3 class="offer-text">Legyen a cél ügyfélszerzés, munkaerő toborzás vagy kiállításon való megjelenés: mi 100%-ban az Önök elképzelése alapján dolgozunk.</h3>
        </div>
      </div>

      <div class="package max-content-width">
        <h1 class="package-head title-text-style">A csomag tartalma</h1>
        <div class="package-quote bottom-space">
          <img class="quote-img" src="images/icons/quote.png" alt="quote">
          <p class="italic quote-text">A hatékony kommunikáció 20 %-ban abból áll, amit tudsz, és 80%-ban pedig abból, hogyan érzel azzal kapcsolatban, amit tudsz. - <span class="bold italic">Jim Rohn</span></p>
        </div>


<div class="desktop-package-view">
        <div class="package-items">
          <div class="package-item desktop-package-item issue active" data-name="package-issue-details" title="Kattintson a részletekért">
            <img class="package-item-icon" src="images/icons/issue.svg" alt="issue icon">
            <h3 class="title-text-style">kiadvány</h3>
            <p class="click-to-details italic">Kattintson a részletekért</p>
          </div>

          <div class="package-item desktop-package-item folder" data-name="package-folder-details" title="Kattintson a részletekért">
            <img class="package-item-icon" src="images/icons/folder.svg" alt="folder icon">
            <h3 class="title-text-style">mappa</h3>
            <p class="click-to-details italic">Kattintson a részletekért</p>
          </div>

          <div class="package-item desktop-package-item video" data-name="package-video-details" title="Kattintson a részletekért">
            <img class="package-item-icon" src="images/icons/video.svg" alt="video icon">
            <h3 class="title-text-style">videó</h3>
            <p class="click-to-details italic">Kattintson a részletekért</p>
          </div>
        </div>

        <div class="package-details" id="package-issue-details">
          <div class="package-details-wrap">
            <p class="package-details-title bold">Nyomtatott kiadvány: </p>
            <p>2500 darab, az Önök iránymutatása alapján elkészült vállalati brosúra, amely kiváló eszköze egy sikerorientált személyes tárgyalásnak.
            A nyomtatott kiadvány elkészítése során nagy hangsúlyt fektetünk a papírminőségre és a kreatív ötletek megvalósulására.</p>
          </div>

          <div class="package-details-wrap">
            <p class="package-details-title bold">Digitális kiadvány: </p>
            <p>
              A digitális kiadvány egy interaktív bemutatkozó anyag, amely a nyomtatott kiadvány tartalmát jeleníti meg számítógépen, okostelefonon vagy táblagépen. <br><br>
              Az <span class="bold italic">online verzió</span> könnyedén beilleszthető a cégük honlapjába; hiperlinkje pedig elhelyezhető az e-mail aláírásokban. <br>
              A közösségimédia-gombok segítségével másodpercek alatt megosztható a brosúra, amely így korlátlan számú olvasót érhet el. <br><br>
              Az <span class="bold italic">offline verzió</span> tökéletes prezentációs eszköz vásárokon, konferenciákon. Használatát nagyban megkönnyíti az automatikus diavetítő funkció.  <br><br>
              Kérem kattintson <a href="http://www.kiadvanyom.hu/PRV" target="_blank"><span class="bold">ide</span></a> és tekintse meg digitális kiadványunkat.
            </p>
          </div>
        </div>

        <div class="package-details off" id="package-folder-details">
            <p>500 darab, vállalatuk arculatához illő, egyedi mappa, melyben ízlésesen rendszerezhetik a tárgyalások során szükséges dokumentumokat. <br><br>
            A mappa hátoldalán található QR kód beolvasása után azonnal elérhetővé válik célközönségük számára a digitális kiadvány, cégük honlapja, vagy akár a vállalati videó.</p>
        </div>

        <div class="package-details off" id="package-video-details">
          <div class="package-details-wrap">
            <p class="package-details-title bold">Fotók: </p>
            <p>
              A csomag részeként profi fotósunk az Önök elképzelése alapján készít képeket vállalati kiadványukhoz. Ezeket a fotókat nagyfelbontású formátumban, külön is átadjuk.<br>
              A professzionális fényképeket a későbbiekben felhasználhatják a honlapjuk megújításához, hirdetéseikhez vagy akár vásárokra szánt molinók elkészítéséhez.
            </p>
          </div>

          <div class="package-details-wrap">
            <p class="package-details-title bold">Videó: </p>
            <p>
              A digitális kiadványba elhelyezett "imázs-videó" betekintést nyújt cégük működésébe leendő ügyfeleik, már meglévő partnereik, vagy potenciális munkavállalóik számára.<br>
              Az elkészült videót külön is rendelkezésükre bocsátjuk. Felhasználhatják más marketing tevékenységek során is, mint például: közösségi oldalakon való megjelenéshez, vagy videómegosztó portálokon folytatott kampányokhoz.<br><br>
              Kérem kattintson <a href="https://youtu.be/7I4drNGMvE4" target="_blank"><span class="bold">ide<span></a> és tekintse meg videós csapatunk referenciáját.
            </p>
          </div>
        </div>
</div>




<div class="mobile-package-view">
        <div class="package-items">
          <a href="#mobileIssue">
            <div class="package-item mobile-package-item issue active" data-name="mobile-package-issue-details" title="Kattintson a részletekért" id="mobileIssue">
              <img class="package-item-icon" src="images/icons/issue.svg" alt="issue icon">
              <h3 class="title-text-style">kiadvány</h3>
              <p class="click-to-details italic">Kattintson a részletekért</p>
            </div>
          </a>

          <div class="mobile-package-details" id="mobile-package-issue-details">
            <div class="package-details-wrap">
              <p class="package-details-title bold">Nyomtatott kiadvány: </p>
              <p>2500 darab, az Önök iránymutatása alapján elkészült vállalati brosúra, amely kiváló eszköze egy sikerorientált személyes tárgyalásnak.
              A nyomtatott kiadvány elkészítése során nagy hangsúlyt fektetünk a papírminőségre és a kreatív ötletek megvalósulására.</p>
            </div>

            <div class="package-details-wrap">
              <p class="package-details-title bold">Digitális kiadvány: </p>
              <p>
                A digitális kiadvány egy interaktív bemutatkozó anyag, amely a nyomtatott kiadvány tartalmát jeleníti meg számítógépen, okostelefonon vagy táblagépen. <br><br>
                Az <span class="bold italic">online verzió</span> könnyedén beilleszthető a cégük honlapjába; hiperlinkje pedig elhelyezhető az e-mail aláírásokban. <br>
                A közösségimédia-gombok segítségével másodpercek alatt megosztható a brosúra, amely így korlátlan számú olvasót érhet el. <br><br>
                Az <span class="bold italic">offline verzió</span> tökéletes prezentációs eszköz vásárokon, konferenciákon. Használatát nagyban megkönnyíti az automatikus diavetítő funkció.  <br><br>
                Kérem kattintson <a href="http://www.kiadvanyom.hu/PRV" target="_blank"><span class="bold">ide</span></a> és tekintse meg digitális kiadványunkat.
              </p>
            </div>
          </div>



          <a href="#mobileFolder">
            <div class="package-item mobile-package-item folder" data-name="mobile-package-folder-details" title="Kattintson a részletekért" id="mobileFolder">
              <img class="package-item-icon" src="images/icons/folder.svg" alt="folder icon">
              <h3 class="title-text-style">mappa</h3>
              <p class="click-to-details italic">Kattintson a részletekért</p>
            </div>
          </a>

          <div class="mobile-package-details off" id="mobile-package-folder-details">
              <p>500 darab, vállalatához illő, egyedi mappa, amelyben ízlésesen rendszerezhetik a tárgyalások során szükséges dokumentumokat. <br><br>
              A mappa hátoldalán található QR kód beolvasása után azonnal elérhetővé válik ügyfele számára a digitális kiadvány, a cég honlapja, vagy akár a vállalati videó.</p>
          </div>



          <a href="#mobileVideo">
            <div class="package-item mobile-package-item video" data-name="mobile-package-video-details" title="Kattintson a részletekért" id="mobileVideo">
              <img class="package-item-icon" src="images/icons/video.svg" alt="video icon">
              <h3 class="title-text-style">videó</h3>
              <p class="click-to-details italic">Kattintson a részletekért</p>
            </div>
          </a>
        </div>

        <div class="mobile-package-details off" id="mobile-package-video-details">
          <div class="package-details-wrap">
            <p class="package-details-title bold">Fotók: </p>
            <p>
              A csomag részeként profi fotósunk az Önök elképzelése alapján készít képeket vállalati kiadványához. Ezeket a fotókat nagyfelbontású formátumban, külön is átadjuk.<br>
              A professzionális fényképeket a későbbiekben felhasználhatják a honlapjuk megújításához, hirdetéseikhez vagy akár vásárokra szánt molinók elkészítéséhez.
            </p>
          </div>

          <div class="package-details-wrap">
            <p class="package-details-title bold">Videó: </p>
            <p>
              A digitális kiadványba elhelyezett "imázs-videó" betekintést nyújt cégük működésébe leendő ügyfeleik, már meglévő partnereik, vagy potenciális munkavállalóik számára.<br>
              Az elkészült videót külön is rendelkezésükre bocsátjuk. Felhasználhatják más marketing tevékenységek során is, mint például: közösségi oldalakon való megjelenéshez, vagy videómegosztó portálokon folytatott kampányokhoz.<br><br>
              Kérem kattintson <a href="https://youtu.be/7I4drNGMvE4" target="_blank"><span class="bold">ide<span></a> és tekintse meg videós csapatunk referenciáját.
            </p>
          </div>
        </div>
</div>







      </div>
    </section>

    <!-- CONCEPTION  -->
    <section class="koncepcionk" id="conception">
      <div class="max-content-width section-title">
        <h1 class="title-text-style">Koncepciónk</h1>
      </div>
      <div class="quote-widget">
        <div class="quote-widget-content quote-widget-content-conception">
          <div class="quote-widget-quote">
            <img class="quote-img" src="images/icons/quote-dark.png" alt="quote">
            <h3 class="quote-text light italic">Ha összejövünk, az a kezdet, <br>
              Ha összetartunk, az a haladás,<br>
              Ha összefogunk, az a siker.
            </h3>
          </div>

          <h3 class="quote-text author bold italic"> - Henry Ford</h3>

        </div>

        <div class="quote-widget-picture quote-widget-picture-conception"></div>
      </div>

      <div class="quote-widget-details max-content-width">
        <h1 class="center title-text-style">A csomag, ami megfinanszírozza önmagát - A “win-win” szituáció.</h1>
        <h3 class="light center bottom-space">A PRV csomag költségeit az Önök partnerei (beszállítók, szolgáltatók) fedezik megjelenésükkel.​</h3>
        <div class="icon-cycle">
          <img src="images/icons/cycle.svg" alt="cycle icon">
        </div>
        <div class="quote-widget-details-text">
          <div class="half-size">
            <h2 class="center bottom-space title-text-style">Miért jó ez Önnek?</h2>
            <p>Azt, hogy mely beszállítók, illetve szolgáltatók hirdethetnek, Önök döntik el. Ezáltal olyan partnerek jelennek meg a kiadványban, akik az évek során hozzájárultak vállalatuk sikeréhez, illetve meghatározó szerepet töltenek be a piaci környezetben.</p>
            <p class="bold bottom-space">Ezek a partneri megjelenések teszik az Önök számára költségmentessé a projektet.</p>

            <div class="risk">
              <h3 class="center bottom-space">Kockázat nélkül -<br>
              No risk, but fun!</h3>
              <p>Amennyiben a PRV csomag mellett döntenek, semmiféle kockázatot nem vállalnak. Ha nem csatlakozna elegendő partner a projekthez, két lehetőség közül választhatnak: vagy átvállalják egy kedvező konstrukción belül a megtérítetlen összeg finanszírozását, vagy teljesen elállnak a projekttől <span class="bold">anélkül, hogy bármiféle költség terhelné Önöket.</span></p>
            </div>
          </div>

          <div class="half-size">
            <h2 class="center bottom-space title-text-style">Miért jó ez partnereinek?</h2>
            <p class="bold">Marketing</p>
            <ul class="bottom-space">
              <li>A partnerek számára folyamatos megjelenést biztosít a szakmai és piaci környezetükön belül.</li>
              <li><span class="bold">Célzott közönség elérése:</span> megjelenésükkel valóban releváns közönség előtt mutatkozhatnak meg - ügyvezetök, döntéshozók előtt.</li>
              <li><span class="bold">A hirdetés, mint referencia:</span> hirdetőik számára hozzáadott értéket képvisel, hogy bekerültek az Önök kiemelt partnerlistájába → megjelenésük jó ajánlólevélként szolgál.</li>
            </ul>

            <p class="bold">Kapcsolatépítés</p>
            <ul class="bottom-space">
              <li>Ez a lehetőség megtiszteltetés azok számára, akik megjelenhetnek az Önök kiemelt partnereiként.</li>
              <li><span class="bold">Szinergia effektus:</span> ha az Önök célja megvalósul a PRV csomag segítségével, az mindenki számára előnyös → a sikeres jövő egyaránt közös érdek.</li>
              <li><span class="bold">Co-Branding:</span> a pozitív imázs ereje növekszik, ha több, erős márkanév sorakozik fel egy sikertörténet mögött.</li>
            </ul>

            <p class="bold">A megjelenés, amit kapnak</p>
            <ul>
              <li>A PRV csapata többletköltség nélkül elkészíti hirdető partnerei QR-kóddal, és hiperlinkkel ellátott megjelenését →  a jóváhagyott reklámot a csatlakozott vállalatok korlátlanul felhasználhatják későbbi marketingtevékenységeik során.</li>
            </ul>
          </div>
        </div>
      </div>
    </section>

    <!-- FLOW CHART  -->
    <section class="folyamatabra" id="flow-chart">
      <div class="max-content-width section-title">
        <h1 class="title-text-style">Folyamatábra</h1>
      </div>
      <div class="quote-widget">
        <div class="quote-widget-picture quote-widget-picture-chart"></div>

        <div class="quote-widget-content quote-widget-content-chart">
          <div class="quote-widget-quote">
            <img class="quote-img" src="images/icons/quote-dark.png" alt="quote">
            <h3 class="quote-text light italic">A cél terv nélkül nem több puszta kívánságnál.
            </h3>
          </div>

          <h3 class="quote-text author bold italic"> - Antoine de <br>Saint-Exupéry</h3>
        </div>
      </div>

      <div class="quote-widget-details max-content-width">
        <h3 class="chart-details-title light center">
          A PRV csapata gondoskodik a projekt teljes lebonyolításról. Az Önök feladata csupán, hogy lektorálják az eredményt némi iránymutatással.</h3>

        <div class="chart-details">
          <div class="legend">
            <div class="legend-element">
              <div class="circle gray-bg white-text"></div>
              <p>Megbízó</p>
            </div>
            <div class="legend-element">
              <div class="circle yellow-noborder-bg white-text"></div>
              <p>PRV</p>
            </div>
          </div>

          <div class="chart-element">
            <div class="chart-element-icon">
              <img src="images/icons/1-list.svg" alt="list icon">
              <p>Partnerlista</p>
            </div>
            <div class="chart-element-number">
              <div class="circle gray-bg white-text">
                1
              </div>
              <img class="line" src="images/line.svg" alt="line">
            </div>
            <div class="chart-element-text">
              Beérkezik hozzánk a meghívott partnerek listája - ez minden projektünk alapja.
            </div>
          </div>


          <div class="chart-element">
            <div class="chart-element-icon">
              <img src="images/icons/2-phone.svg" alt="phone icon">
              <p>Hirdetések előjegyzése</p>
            </div>
            <div class="chart-element-number">
              <div class="circle yellow-bg">
                2
              </div>
              <img class="line" src="images/line.svg" alt="line">
            </div>
            <div class="chart-element-text">
              Partnerek megkeresése, hirdetések előjegyzése - ebben a fázisban biztosítjuk a költséghátteret.
            </div>
          </div>

          <div class="chart-element">
            <div class="chart-element-icon">
              <img src="images/icons/3-bulb.svg" alt="bulb icon">
              <p>Brainstorming</p>
            </div>
            <div class="chart-element-number">
              <div class="circle yellow-gray-bg">
                3
              </div>
              <img class="line" src="images/line.svg" alt="line">
            </div>
            <div class="chart-element-text">
              Brainstorming - a projektfelelősök telefonkonferencián egyeztetnek a tartalomról.
            </div>
          </div>

          <div class="chart-element">
            <div class="chart-element-icon">
              <img src="images/icons/4-pencil.svg" alt="pencil icon">
              <p>Szövegírás</p>
            </div>
            <div class="chart-element-number">
              <div class="circle yellow-bg">
                4
              </div>
              <img class="line" src="images/line.svg" alt="line">
            </div>
            <div class="chart-element-text">
              Szövegírás - a copywriter gondoskodik a szövegről
            </div>
          </div>

          <div class="chart-element">
            <div class="chart-element-icon">
              <img src="images/icons/video.svg" alt="camera icon">
              <p>Fotózás, videózás</p>
            </div>
            <div class="chart-element-number">
              <div class="circle yellow-gray-bg">
                5
              </div>
              <img class="line" src="images/line.svg" alt="line">
            </div>
            <div class="chart-element-text">
              Fotózás, videózás - munkatársaink a helyszínre érkeznek egy előre egyeztetett időpontban
            </div>
          </div>

          <div class="chart-element">
            <div class="chart-element-icon">
              <img src="images/icons/6-imac.svg" alt="imac icon">
              <p>Utómunkálatok</p>
            </div>
            <div class="chart-element-number">
              <div class="circle yellow-gray-bg">
                6
              </div>
              <img class="line" src="images/line.svg" alt="line">
            </div>
            <div class="chart-element-text">
              Utómunkálatok - 100%-ban megvalósítjuk az Önök elképzelését
            </div>
          </div>

          <div class="chart-element">
            <div class="chart-element-icon">
              <img src="images/icons/7-delivery.svg" alt="delivery icon">
              <p>A PRV csomag házhoz jön</p>
            </div>
            <div class="chart-element-number">
              <div class="circle yellow-bg">
                7
              </div>
              <img class="line" src="images/line.svg" alt="line">
            </div>
            <div class="chart-element-text">
              A PRV csomag házhoz jön - jóváhagyásuk után költségmentesen leszállítjuk az elkészült csomagot
            </div>
          </div>

          <div class="chart-element">
            <div class="chart-element-icon">
              <img src="images/icons/8-forward.svg" alt="forward icon">
              <p>Későbbiekben</p>
            </div>
            <div class="chart-element-number">
              <div class="circle empty-circle">
                +
              </div>
            </div>
            <div class="chart-element-text">
              Későbbiekben állunk rendelkezésükre egy újabb téma feldolgozására!
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- PARTNERS CHART  -->
    <section class="partnereink" id="partners">
      <div class="max-content-width section-title">
        <h1 class="title-text-style">Ügyfeleink</h1>
      </div>
      <div class="partners-widget">
        <div>
          <img class="arrow left-arrow" src="images/left-arrow.svg" alt="left arrow" id="left">
        </div>

        <div class="partners-widget-content" data-position="0">
          <p class="reference-image">
            <img src="images/logos/allianz.svg" alt="Allianz logo">
          </p>
          <p class="reference-image">
            <img src="images/logos/otthon.svg" alt="Otthon centrum logo">
          </p>
          <p class="reference-image">
            <img src="images/logos/kwikfit.svg" alt="Kwikfit logo">
          </p>
          <p class="reference-image">
            <img src="images/logos/kh.svg" alt="K&H logo">
          </p>
          <p class="reference-image">
            <img src="images/logos/foton.svg" alt="Foton logo">
          </p>
          <p class="reference-image">
            <img src="images/logos/walter.svg" alt="Walter logo">
          </p>
          <p class="reference-image">
            <img src="images/logos/a1.svg" alt="A1 Szerelvényház Kft logo">
          </p>
          <p class="reference-image">
            <img src="images/logos/aquafilt.svg" alt="Aqua-filt logo">
          </p>
          <p class="reference-image">
            <img src="images/logos/huncargo.svg" alt="Huncargo logo">
          </p>
          <p class="reference-image">
            <img src="images/logos/hirschler.svg" alt="Hirschler logo">
          </p>
          <p class="reference-image">
            <img src="images/logos/alphapark.svg" alt="Alpha park logo">
          </p>
          <p class="reference-image">
            <img src="images/logos/dunahouse.svg" alt="Duna House logo">
          </p>
        </div>

        <div>
          <img class="arrow right-arrow" src="images/right-arrow.svg" alt="right arrow" id="right">
        </div>
      </div>
    </section>

    <!-- CONTACT  -->
    <section class="kapcsolat" id="contact">
      <div class="max-content-width section-title">
        <h1 class="title-text-style">Kapcsolat *</h1>
      </div>
      <div class="contact-widget max-content-width">
        <div class="half-size-widget">
          <p>
            Készséggel állunk rendelkezésére!
          </p>

          <form class="contact-form bottom-space" action="https://formspree.io/mail@prvteam.hu" method="post">
            <div class="label-container">
              <label class="label-text hidden" for="name">Név</label>
            </div>
            <input class="input-style input-field" type="text" name="name" placeholder="Név" required>

            <div class="label-container">
              <label class="label-text hidden" for="companyName">Cégnév</label>
            </div>
            <input class="input-style input-field" type="text" name="companyName" placeholder="Cégnév" required>

            <div class="label-container">
              <label class="label-text hidden" for="email">E-mail</label>
            </div>
            <input class="input-style input-field" type="email" name="email" placeholder="E-mail" required>

            <div class="label-container">
              <label class="label-text hidden" for="phone">Telefonszám</label>
            </div>
            <input class="input-style input-field" type="number" name="phone" placeholder="Telefonszám" required>

            <div class="label-container">
              <label class="label-text hidden" for="subject">Téma</label>
            </div>
            <input class="input-style input-field" type="text" name="subject" placeholder="Téma">

            <div class="label-container label-container-message">
              <label class="label-text hidden" for="message">Üzenet</label>
            </div>
            <textarea class="message input-field bottom-space" name="message" rows="8" placeholder="Üzenet"></textarea>

            <input type="hidden" name="_next" value="/" />
            <input type="hidden" name="_cc" value="designhorf@gmail.com" />
            <input type="text text-qotcha" class="off" name="_gotcha" />

            <input class="btn-submit" type="submit" value="Küld">
          </form>
        </div>

        <div class="half-size-widget contact-person">
          <p class="hirsztar">
            Hírsztár kft<br>
            II. Rákóczi Ferenc utca 23. 9400 Sopron<br>
            Magyarország<br>
            Cjsz.: 08 09 014232<br>
            Adószám: 13775801208<br>
            Köz. adósz.: HU13775801<br>
          </p>
        </div>
      </div>

      <div class="max-content-width section-title">
          <p class="xtra-small-text">* Azt, hogy mely cégek számára készítjük el a fenti csomagot, előre meghatározott kritériumok alapján döntjük el. Amennyiben érdekli Önt ajánlatunk, írjon nekünk cége pontos megnevezésével és üzenetében fejtse ki, milyen témát szeretne feldolgozni a PRV csapatával.</p>
      </div>
    </section>

    <!-- FOOTER -->
    <section class="footer no-top">
      <div class="max-content-width">
        <p>Minden jog fenntartva © PRV Communication 2017</p>
      </div>
    </section>
	</div>

  

  <noscript id="deferred-styles">
    <link rel="stylesheet" href="stylesheets/base.css" type="text/css"/>
  </noscript>
  <script>
    var loadDeferredStyles = function() {
      var addStylesNode = document.getElementById("deferred-styles");
      var replacement = document.createElement("div");
      replacement.innerHTML = addStylesNode.textContent;
      document.body.appendChild(replacement)
      addStylesNode.parentElement.removeChild(addStylesNode);
    };
    var raf = requestAnimationFrame || mozRequestAnimationFrame ||
        webkitRequestAnimationFrame || msRequestAnimationFrame;
    if (raf) raf(function() { window.setTimeout(loadDeferredStyles, 0); });
    else window.addEventListener('load', loadDeferredStyles);
  </script>

  <script type="text/javascript" src="js/main.js" async></script>
</body>
</html>
