@import "modules/colours";
@import "modules/text";
@import "modules/mixins";
@import "modules/mobile-navigation";
@import "widgets/quote";
@import "sections/header";
@import "sections/main-page";
@import "sections/offers";
@import "sections/conception";
@import "sections/chart";
@import "sections/partners";
@import "sections/contact";

body,
html,
.wrap {
  color: $gray;
  height: 100%;
  margin: 0;
  padding: 0;
}

html {
  font-family: 'Open Sans', sans-serif;
}

body {
  // background: url('../images/gplaypattern.png');
  // background-repeat: repeat;
}

a {
  color: inherit;
  text-decoration: none;
}

.off {
  display: none;
}

.hidden {
  visibility: hidden;
}

.active {
  background-color: $yellow;
}

.bottom-space {
  margin-bottom: 25px;
}

.center {
  text-align: center;
}

.max-content-width {
  margin: 0 auto;
  max-width: 1100px;

  @media (max-width: 800px) {
    max-width: 90%;
  }
}

.section-title {
  width: 80%;

  @media (max-width: 800px) {
    width: 90%;
  }
}

section:not(.no-top) {
  padding-top: 100px;;
}

input,
textarea {
  outline: none;
}

.footer {
  @include flexbox(row, center, center, nowrap);
  background-color: $yellow;
  color: $white;
  font-size: .8em;
  height: 60px;
}
