@import "modules/colours";
@import "modules/text";
@import "modules/mixins";
@import "sections/header";
@import "sections/main-page";
@import "sections/offers";
@import "sections/conception";

body,
html,
.wrap {
  color: $gray;
  height: 100%;
  margin: 0;
  padding: 0;
}

html {
  font-family: 'Open Sans', sans-serif;
}

body {
  background: url('../images/gplaypattern.png');
  background-repeat: repeat;
}

.off {
  display: none;
}

.active {
  background-color: $yellow;
}

.bottom-space {
  margin-bottom: 25px;
}
