.chart-details {
  @include flexbox(column, baseline, space-between, nowrap);

  &-title {
    margin: 50px auto;
    width: 85%;
  }
}

.chart-element {
  @include flexbox(row, center, flex-start, nowrap);
  margin: 0 auto 50px;
  width: 800px;

  @media (max-width: 600px) {
    flex-direction: column;
  }

  @media (max-width: 800px) {
    width: 100%;
  }

  &-icon {
    font-size: .75em;
    min-width: 200px;
    text-align: center;

    @media (max-width: 600px) {
      order: 2;
    }

    img {
      margin-top: 30px;
      max-height: 55px;

      @media (max-width: 600px) {
        margin-top: 0;
      }

      @media (max-width: 800px) {
        max-height: 35px;
      }
    }
  }

  &-number {
    margin: 0 100px 0 30px;

    @media (max-width: 600px) {
      margin: 0 auto 20px;
      order: 1;
    }

    .line {
      margin-left: 24px;
      margin-top: -2px;
      position: absolute;

      @media (max-width: 600px) {
        display: none;
      }

      @media (min-width: 601px) and (max-width: 800px) {
        max-height: 115px;
      }
    }
  }

  &-text {
    @media (max-width: 600px) {
      order: 3
    }

    @media (max-width: 800px) {
      font-size: .9em;
    }
  }
}

.legend {
  @include flexbox(column, flex-start, center, nowrap);
  margin-left: -30px;
  margin-top: 23px;
  position: absolute;

  @media (min-width: 800px) and (max-width: 1024px) {
    margin-left: -70px;
  }

   &-element {
     @include flexbox(row, center, center, nowrap);
     margin-bottom: 10px;
   }

   .circle {
     @include flexbox(row, center, center, nowrap);
     border-radius: 50%;
     font-weight: 700;
     height: 35px;
     margin-right: 10px;
     width: 35px;
   }

}

.circle {
  @include flexbox(row, center, center, nowrap);
  border-radius: 50%;
  font-weight: 700;
  height: 50px;
  width: 50px;
}

.empty-circle,
.yellow-bg,
.yellow-gray-bg {
  border: 3px solid $gray;
  box-sizing: border-box;
}

.gray-bg {
  background-color: $gray;
}

.yellow-bg,
.yellow-noborder-bg {
  background-color: $yellow;
}

.yellow-gray-bg {
  background: rgba(249,194,27,1);
  background: linear-gradient(135deg, rgba(249,194,27,1) 0%, rgba(249,194,27,1) 63%, rgba(74,77,79,1) 63%, rgba(62,64,66,1) 100%);
}

.white-text {
  color: $white;
}
