$header-height: 70px;

ul {
  margin: 0;
  padding: 0;
}

.header {
  background-color: $white;
  box-shadow: 0 1px 4px 0 $headercolour;
  font-weight: 700;
  height: $header-height;
  margin: 0;
  position: fixed;
  width: 100%;
  z-index: 100;

  &-wrap {
    @include flexbox(row, center, space-between, nowrap);
    height: inherit;
    margin: 0 auto;
    padding: 0;

    @media (min-width: 481px) and (max-width: 1024px) {
      width: 80%;
    }

    .logo {
      text-align: center;
    }
  }

  .hamburger-icon {
    @media (min-width: 1025px) {
      display: none;
    }
  }

  .menu {
    @media (max-width: 1024px) {
      display: none;
    }
  }
}

.menu-items {
  @include flexbox(row, center, space-between, nowrap);
  text-transform: uppercase;

  li {
    margin: 16px;
  }

  p {
    border-bottom: 3px solid transparent;
    cursor: pointer;

    &:hover {
      border-bottom: 3px solid $yellow;
    }
  }

  .active-menu {
    p {
      border-bottom: 3px solid $yellow;
    }
  }

  .first-menu-element {
    list-style-type: none;
  }
}

.code-button,
.code-text {
  border: 0;
  border-radius: 5px;
  font-size: .8em;
  font-weight: 600;
  min-height: 25px;
  vertical-align: middle;
}

.code-text {
  background-color: $extralightgray;
  color: $red;
  padding: 0 0 0 8px;
  width: 80px;
}

.code-button {
  background-color: $darkergreen;
}

.code-input {
  background-color: $yellow;
  box-shadow: 0px 1px 2px 0 $codegray;
  list-style-type: none;
  margin: 6px 0 0 0;
  padding: 10px 20px;
  position: absolute;
}
