.main {
  @include flexbox(column, initial, center, nowrap);
  background-color: $yellow;
  height: calc(100% - 70px);
  min-height: 100%;
  padding-top: $header-height;
  width: 100%;

  @media (max-width: 480px) {
    min-height: initial;
    justify-content: space-around;;
  }

  &-text {
    $test: calc((100% - 1100px) / 2 + 0px);
    background-color: $white;
    display: table;
    max-width: 450px;
    padding-left: $test;
    padding-right: 25px;
    text-transform: uppercase;

    @media (max-width: 1024px) {
      padding-left: 10%;
    }

    h2 {
      font-weight: 300;
    }
  }

  &-devices {
    margin: 0 auto 40px;
    width: 80%;
    max-width: 1000px;

    &-img {
      width: 100%;
    }
  }

  &-scroll {
    text-align: center;

    @media (max-width: 1024px) {
      margin-top: 20px;
    }
  }
}
