.partners-widget {
  @include flexbox(row, initial, center, nowrap);
  background-color: $lightgray;
  height: 200px;

  &-content {
    @include content-properties;
    @include flexbox(row, center, space-between, nowrap);

    img:not(.arrow) {
      filter: grayscale(100%);
    }
  }
}

.arrow {
  cursor: pointer;
  padding: 20px;
}

.left-arrow {
  margin-left: -50px;
}

.right-arrow {
  margin-right: -50px;
}
