.partners-widget {
  @include flexbox(row, initial, center, nowrap);
  background-color: $lightgray;
  height: 200px;

  @media (max-width: 800px) {
    overflow: hidden;
  }

  &-content {
    @include content-properties;
    @include flexbox(row, center, space-between, nowrap);

    img:not(.arrow) {
      filter: grayscale(100%);

      @media (max-width: 800px) {
        max-height: 50px;
        max-width: 100px;
      }
    }
  }
}

.arrow {
  cursor: pointer;
  padding: 20px;
}

.left-arrow {
  margin-left: -50px;
}

.right-arrow {
  margin-right: -50px;
}
