$white: #fff;

$black: #000;
$black2: rgba(74, 77, 79, 1);
$black3: rgba(62, 64, 66, 1);

$lightgray: #ededed;
$gray: #3e4042;
$extralightgray: #eaeaea;
$codegray: #969696;

$green: #49c970;
$darkergreen: #8cd790;
$medium-green: #00ab6b;

$lightblue: #547c88;

$yellow: #f9c21b;
$yellow2: rgba(249, 194, 27, 1);
$darkyellow: #c1950f;

$headercolour: rgba(0, 0, 0, .33);

$red: #ce2626;
$red2: #f34330;
