$black: #000;
$white: #fff;
$yellow: #f9c21b;
$darkyellow: #c1950f;
$gray: #3e4042;
$lightgray: #ededed;
$green: #49c970;
$lightblue: #547c88;

$headercolour: rgba(0, 0, 0, .33);

$yellow2: rgba(249, 194, 27, 1);
$black2: rgba(74, 77, 79, 1);
$black3: rgba(62, 64, 66, 1);
