@mixin flexbox($direction, $aitems, $jcontent, $wrap) {
  align-items: $aitems;
  display: flex;
  flex-direction: $direction;
  flex-wrap: $wrap;
  justify-content: $jcontent;
}

@mixin content-properties {
  margin: 0 auto;
  width: 80%;

  @media (max-width: 800px) {
    width: 90%;
  }
}
