.mobile-menu {
  background-color: $yellow;
  height: 100%;
  left: 0;
  position: fixed;
  top: 100%;
  transition: top .35s ease-in-out;
  width: 100%;
  z-index: 99;

  .menu-items {
    @include flexbox(column, flex-start, space-between, nowrap);
    margin-top: 100px;

    li {
      list-style-type: none;
      margin: 16px 0;
      padding-left: 5%;
    }
  }

  .menu-element {
    padding: 5px 0 5px 5%;
    width: 100%;
  }

  .active-menu {
    background-color: $white;
    padding: 5px 0 5px 5%;
  }
}




.hamburger-menu {
  height: 26px;
  width: 50px;

  @media (min-width: 1025px) {
    display: none;
  }

  &:hover {
    cursor: pointer;
  }
}

.x-1,
.x-2,
.x-m {
  background-color: $black;
  height: 4px;
  transform-origin: 20% 60%;
  transition: all .2s;
  width: 40px;
}

.x-1,
.x-m {
  margin-bottom: 7px;
}

.off {
  opacity: 0;
}
