@font-face {
  font-family: Title-Bebas;
  src: url('../fonts/BebasNeue.otf');
}

@font-face {
  font-family: Cheddar;
  src: url('../fonts/CheddarJack.ttf');
}

@font-face {
  font-family: Body;
  // src: url('../fonts/Lato-Light.ttf');
  src: url('../fonts/OpenSans-Light.ttf');
}

@font-face {
  font-family: Body-Bold;
  // src: url('../fonts/Lato-Bold.ttf');
  src: url('../fonts/OpenSans-Bold.ttf');
}

@font-face {
  font-family: Quote;
  src: url('../fonts/PlayfairDisplay-Italic.otf');
}

html {
  font-family: 'Body', sans-serif;
  font-weight: 100;
}

h1 {
  font-size: 2.5em;

  @media (max-width: 480px) {
    font-size: 1.7em;
  }
}

h2 {
  font-size: 2em;

  @media (max-width: 480px) {
    font-size: 1.5em;
  }
}

.quote-widget-special-text {
  font-size: 1.6em;

  @media (max-width: 480px) {
    font-size: 1.35em;
  }
}

h3 {
  font-size: 1.6em;

  @media (max-width: 480px) {
    font-size: 1.3em;
  }
}

.title-text-style {
  font-family: 'Title-Bebas', sans-serif;
  font-weight: 300;
  letter-spacing: 5px;
}

.main-title {
  font-family: 'Cheddar', sans-serif;
  font-size: 3.5em;
  font-weight: 300;
  text-transform: initial;

  @media (max-width: 480px) {
    font-size: 2.5em;
  }
}

.body-bold {
  font-family: 'Body-Bold', sans-serif;
}

.bold {
  font-weight: 700;
}

.light {
  font-weight: 300;
}

.italic {
  font-family: 'Quote', sans-serif;
}

.uppercase {
  text-transform: uppercase;
}

.quote-text {
  font-family: 'Quote', sans-serif;
  font-size: 1.5em;
  @media (max-width: 800px) {
    font-size: 1.2em;
  }
}

.author {
  text-align: right;
}

.xtra-small-text {
  font-size: .7em;
  margin: 0;
  padding: 0;
}

.red-text {
  color: $red2;
}

