h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.7em;
}

.bold {
  font-weight: 700;
}

.light {
  font-weight: 300;
}

.italic {
  font-style: italic;
}

.uppercase {
  text-transform: uppercase;
}

.quote-text {
  font-size: 1.5em;
}

.author {
  text-align: right;
}

.xtra-small-text {
  font-size: .5em;
}
