h1 {
  font-size: 2em;

  @media (max-width: 480px) {
    font-size: 1.5em;
  }
}

h2 {
  font-size: 1.7em;

  @media (max-width: 480px) {
    font-size: 1.3em;
  }
}

h3 {
  @media (max-width: 480px) {
    font-size: 1.1em;
  }
}

.bold {
  font-weight: 700;
}

.light {
  font-weight: 300;
}

.italic {
  font-style: italic;
}

.uppercase {
  text-transform: uppercase;
}

.quote-text {
  font-size: 1.5em;
  @media (max-width: 800px) {
    font-size: 1.2em;
  }
}

.author {
  text-align: right;
}

.xtra-small-text {
  font-size: .7em;
  margin: 0;
  padding: 0;
}
