.quote-widget {
  @include flexbox(row, initial, center, nowrap);
  background-color: $yellow;
  height: 430px;

  @media (max-width: 600px) {
    flex-direction: column;
    height: 250px;
  }

  @media (min-width: 601px) and (max-width: 800px) {
    height: 300px;
  }

  &-content,
  &-picture {
    width: 50%;
    @media (max-width: 600px) {
      margin: 0 auto;
      width: 90%;
    }
  }

  &-content {
    box-sizing: border-box;
  }

  &-content-conception {
    @include flexbox(column, flex-end, center, nowrap);
    padding-left: 10%;
    padding-right: 5%;

    @media (max-width: 600px) {
      align-items: center;
      padding: 0;
    }
  }

  &-content-chart {
    @include flexbox(column, flex-start, center, nowrap);
    padding-left: 5%;
    padding-right: 10%;

    @media (max-width: 600px) {
      align-items: center;
    }
  }

  &-picture {
    @media (max-width: 600px) {
      display: none;
    }

    &-conception {
      background: url('../images/hands.jpg');
      background-position: center;
      background-size: cover;
    }

    &-chart {
      background: url('../images/landscape.jpg');
      background-position: center;
      background-size: cover;
    }
  }

  &-quote {
    @include flexbox(row, baseline, flex-start, nowrap);

    @media (max-width: 600px) {
      margin-left: 33px;
    }
  }

  .quote-img {
    height: 21px;
    margin-left: -33px;
    margin-top: 22px;
    position: absolute;
    width: 23px;

    @media (max-width: 800px) {
      height: 15px;
    }
  }

  &-details {
    @include content-properties;

    &-text {
      @include flexbox(row, baseline, space-between, nowrap);
      @media (max-width: 800px) {
        flex-direction: column;
      }

      .half-size {
        margin: 0 auto;
        width: 35%;

        @media (max-width: 800px) {
          width: 100%;
        }
      }

      ul {
        padding-left: 20px;
      }
    }
  }
}

.ajanlatunk {
  .package {
    &-quote {
      @include flexbox(row, baseline, flex-start, nowrap);
      padding-left: 90px;

      @media (max-width: 800px) {
        padding-left: 0;
      }
    }

    .quote-img {
      margin-right: 15px;

      @media (max-width: 800px) {
        height: 15px;
      }
    }
  }
}
